.center-container {
    margin: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0,0,0.0.5);
}
.head{
    display: flex;
    justify-content: center;
}
body{
    overflow-x: hidden;
  overflow-y: hidden; 
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #fff;
  z-index: -2;
}

#gQuote {
    min-height: 3rem;
    text-align: center;
    padding: 0 1rem;
    font-size: 1rem;
}

i{
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    left: 95%;
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    font-size: 3em;
    margin-right: 20px;
}
#next{
    border-radius: 10px;
    position:absolute;
    left: 5%;
    margin: auto;
    padding: auto;
    display: flex;
    width: 100px;
    cursor: pointer;
    margin: 20px;
    background-color:rgb(23,124,229) ;
    color: #fff;
    justify-content: center;
}
#previous{
    position:absolute;
    left: 65%;
    border-radius: 25px;
    background-color: rgb(23,124,229);
    display: flex;
    width: 100px;
    cursor: pointer;
    margin: 20px;
    color: #fff;
    justify-content: center;
}
.quote-box{
    width: 90%;
    background: rgb(219, 218, 218);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
.quote-box .form-check{
    display: flex;
    justify-content: center;
    display: inline;
}

#slide-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    background: gray;
    border: none;
    border-radius: 10px;
}

.quote-box .form-check label {
    min-width: 60px;
}

.dark-mode .quote-box {
    background: #2c3e50; 
    color: #fff;
}

.dark-mode body {
    background: #2c3e50; 
    color: #fff; 
}

#dark-toggle {
    position: absolute;
    background-color:black ;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer;
    border: none; 
    border-radius: 5px;
    left: 90%;
    right: 10px; /* Adjusted right position */
    top: 10px; 
}


  
#dark-toggle:hover {
    background-color: #555; 
}
  

/* @media (max-width: 800px) {
    .quote-box {
        width: 500px;
    }
} */
@media (max-width: 400px) {
    .quote-box {
        width: 95%;
    }
}
@media (max-width: 400px) {
    #dark-toggle {
        padding: 8px 15px; /* Adjusted padding for smaller screens */
        font-size: 14px; /* Adjusted font size for smaller screens */
        left: 50%; /* Centered horizontally on smaller screens */
        transform: translateX(-50%);
        top: 90%; /* Positioned closer to the bottom on smaller screens */
    }
}
.quote-box {
    width: 80%; /* Adjusted width for medium-sized screens */
}


@media (max-width: 500px) {
.quote-box {
    width: 90%; /* Adjusted width for smaller screens */
}
}